index.html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  main{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    height: 100vh;
  }


  @media screen and (max-width:1440px) /*DESKTOP*/ {
  .header{
    min-height: 100vh;
    width: 100%;
    background-image:url(images/bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgba(225, 21, 21, 0.654);
  }
}

@media screen and (max-width:375px) /*MOBILE*/ {
    .header{
        min-height: 100vh;
        width: 100%;
        background-image:url(images/bg-intro-mobile.png);
        background-position: center;
        background-size: cover;
        position: relative;
        background-color: rgba(225, 21, 21, 0.654);
      }
}