index.html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .header{
    min-height: 100vh;
    width: 100%;
    background-image:url(images/bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgba(225, 21, 21, 0.654);
  }